In [733]:
import pandas as pd
import numpy as np

In [ ]:
movies = pd.read_csv("tmdb_5000_movies.csv")
# credit = pd.read_csv("tmdb_movie_credits.csv") 
movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [735]:
# credit
movies["production_companies"][0]

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [736]:
# df = pd.merge(movies, on='title', how='inner')
df = movies

In [737]:
df.isna().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [738]:
df["tagline"].fillna(df["tagline"].mode()[0],inplace=True)

C:\Users\Microsoft\AppData\Local\Temp\ipykernel_10268\101901375.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["tagline"].fillna(df["tagline"].mode()[0],inplace=True)

In [739]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [740]:
df = df[['genres','id','keywords','original_title','overview', 'release_date', 'tagline']]

In [741]:
df.isna().sum()

genres            0
id                0
keywords          0
original_title    0
overview          3
release_date      1
tagline           0
dtype: int64

In [742]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          4803 non-null   object
 1   id              4803 non-null   int64
 2   keywords        4803 non-null   object
 3   original_title  4803 non-null   object
 4   overview        4800 non-null   object
 5   release_date    4802 non-null   object
 6   tagline         4803 non-null   object
dtypes: int64(1), object(6)
memory usage: 262.8+ KB

In [743]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

C:\Users\Microsoft\AppData\Local\Temp\ipykernel_10268\2101504858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

np.int64(0)

In [744]:
df["genres"].head(1)

0    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Name: genres, dtype: object

In [745]:
import ast
def convert(obj):
    list1 = []
    for i in ast.literal_eval(obj):
         list1.append(i["name"])
    return list1

In [746]:
# Apply convert function to genres column and assign the result back
df["genres"] = df["genres"].apply(convert)
df["genres"]

C:\Users\Microsoft\AppData\Local\Temp\ipykernel_10268\1731471007.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["genres"] = df["genres"].apply(convert)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4803, dtype: object

In [747]:
# Apply convert function to keywords column and assign the result back
df["keywords"] = df["keywords"].apply(convert)
df["keywords"]

C:\Users\Microsoft\AppData\Local\Temp\ipykernel_10268\3735613329.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["keywords"] = df["keywords"].apply(convert)

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4798    [united states–mexico barrier, legs, arms, pap...
4799                                                   []
4800    [date, love at first sight, narration, investi...
4801                                                   []
4802            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4803, dtype: object

In [748]:
# df["cast"] = ast.literal_eval(df["cast"])
# (df["cast"][0])

In [749]:
def convert(obj):
    list1 = []
    counter = 0
    for i in ast.literal_eval(obj):
         if counter == 3:
              break
         else:
            list1.append(i["name"])
            counter += 1
    return list1

In [750]:
# df["cast"] = df["cast"].apply(convert)
# df["cast"][0]

In [751]:
df

,genres,id,keywords,original_title,overview,release_date,tagline
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,Enter the World of Pandora.
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,"At the end of the world, the adventure begins."
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bond’s past sends him o...,2015-10-26,A Plan No One Escapes
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,The Legend Ends
4,"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...",John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,"Lost in our world, found in another."
...,...,...,...,...,...,...,...
4798,"[Action, Crime, Thriller]",9367,"[united states–mexico barrier, legs, arms, pap...",El Mariachi,El Mariachi just wants to play his guitar and ...,1992-09-04,"He didn't come looking for trouble, but troubl..."
4799,"[Comedy, Romance]",72766,[],Newlyweds,A newlywed couple's honeymoon is upended by th...,2011-12-26,A newlywed couple's honeymoon is upended by th...
4800,"[Comedy, Drama, Romance, TV Movie]",231617,"[date, love at first sight, narration, investi...","Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",2013-10-13,Based on a true story.
4801,[],126186,[],Shanghai Calling,When ambitious New York attorney Sam is sent t...,2012-05-03,A New Yorker in Shanghai
4802,[Documentary],25975,"[obsession, camcorder, crush, dream girl]",My Date with Drew,Ever since the second grade when he first saw ...,2005-08-05,Based on a true story.

In [752]:
def convert(obj):
    list1 = []
    for i in ast.literal_eval(obj):
         if i["job"] == "Director":
                list1.append(i["name"])
    return list1

In [753]:
# df["director"] = df["crew"].apply(convert)
# df["director"]

In [754]:
df["overview"] = df["overview"].apply(lambda x: str(x).split())

df["overview"][0]

C:\Users\Microsoft\AppData\Local\Temp\ipykernel_10268\3466774228.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["overview"] = df["overview"].apply(lambda x: str(x).split())

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [755]:
df["tagline"] = df["tagline"].apply(lambda x: x.split())

C:\Users\Microsoft\AppData\Local\Temp\ipykernel_10268\331741036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["tagline"] = df["tagline"].apply(lambda x: x.split())

In [756]:
df["genres"][0]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [757]:
df["genres"] = df["genres"].apply(lambda x:[i.replace(" ","") for i in x])
df["keywords"] = df["keywords"].apply(lambda x:[i.replace(" ","") for i in x])
# df["tagline"] = df["tagline"].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\Microsoft\AppData\Local\Temp\ipykernel_10268\2323253247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["genres"] = df["genres"].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\Microsoft\AppData\Local\Temp\ipykernel_10268\2323253247.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["keywords"] = df["keywords"].apply(lambda x:[i.replace(" ","") for i in x])

In [758]:
df["tags"] =  df["genres"] + df["keywords"] +df["tagline"] + df["overview"]

C:\Users\Microsoft\AppData\Local\Temp\ipykernel_10268\1849328712.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["tags"] =  df["genres"] + df["keywords"] +df["tagline"] + df["overview"]

In [759]:
df

,genres,id,keywords,original_title,overview,release_date,tagline,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",2009-12-10,"[Enter, the, World, of, Pandora.]","[Action, Adventure, Fantasy, ScienceFiction, c..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",2007-05-19,"[At, the, end, of, the, world,, the, adventure...","[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,"[Action, Adventure, Crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...",2015-10-26,"[A, Plan, No, One, Escapes]","[Action, Adventure, Crime, spy, basedonnovel, ..."
3,"[Action, Crime, Drama, Thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",2012-07-16,"[The, Legend, Ends]","[Action, Crime, Drama, Thriller, dccomics, cri..."
4,"[Action, Adventure, ScienceFiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...",2012-03-07,"[Lost, in, our, world,, found, in, another.]","[Action, Adventure, ScienceFiction, basedonnov..."
...,...,...,...,...,...,...,...,...
4798,"[Action, Crime, Thriller]",9367,"[unitedstates–mexicobarrier, legs, arms, paper...",El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...",1992-09-04,"[He, didn't, come, looking, for, trouble,, but...","[Action, Crime, Thriller, unitedstates–mexicob..."
4799,"[Comedy, Romance]",72766,[],Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...",2011-12-26,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance, A, newlywed, couple's, honey..."
4800,"[Comedy, Drama, Romance, TVMovie]",231617,"[date, loveatfirstsight, narration, investigat...","Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...",2013-10-13,"[Based, on, a, true, story.]","[Comedy, Drama, Romance, TVMovie, date, loveat..."
4801,[],126186,[],Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",2012-05-03,"[A, New, Yorker, in, Shanghai]","[A, New, Yorker, in, Shanghai, When, ambitious..."
4802,[Documentary],25975,"[obsession, camcorder, crush, dreamgirl]",My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",2005-08-05,"[Based, on, a, true, story.]","[Documentary, obsession, camcorder, crush, dre..."

In [760]:
df = df[["id","tags","original_title"]]
df["original_title"] = df["original_title"].str.lower()
df["tags"] = df["tags"].apply(lambda x: [i.lower() for i in x])


df

C:\Users\Microsoft\AppData\Local\Temp\ipykernel_10268\2851032351.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["original_title"] = df["original_title"].str.lower()
C:\Users\Microsoft\AppData\Local\Temp\ipykernel_10268\2851032351.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["tags"] = df["tags"].apply(lambda x: [i.lower() for i in x])

,id,tags,original_title
0,19995,"[action, adventure, fantasy, sciencefiction, c...",avatar
1,285,"[adventure, fantasy, action, ocean, drugabuse,...",pirates of the caribbean: at world's end
2,206647,"[action, adventure, crime, spy, basedonnovel, ...",spectre
3,49026,"[action, crime, drama, thriller, dccomics, cri...",the dark knight rises
4,49529,"[action, adventure, sciencefiction, basedonnov...",john carter
...,...,...,...
4798,9367,"[action, crime, thriller, unitedstates–mexicob...",el mariachi
4799,72766,"[comedy, romance, a, newlywed, couple's, honey...",newlyweds
4800,231617,"[comedy, drama, romance, tvmovie, date, loveat...","signed, sealed, delivered"
4801,126186,"[a, new, yorker, in, shanghai, when, ambitious...",shanghai calling
4802,25975,"[documentary, obsession, camcorder, crush, dre...",my date with drew

In [761]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stemm(text):
    y = []
    
    if isinstance(text, list):
        words = text
    else:
        words = text.split()
    
    for i in words:
        y.append(ps.stem(i))
        
    return " ".join(y)

df["tags"] = df["tags"].apply(stemm)

C:\Users\Microsoft\AppData\Local\Temp\ipykernel_10268\4279017525.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["tags"] = df["tags"].apply(stemm)

In [762]:
df["tags"][0]

'action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d enter the world of pandora. in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization.'

In [763]:
from sklearn.feature_extraction.text import TfidfVectorizer


cv = TfidfVectorizer(
    max_features=50000,
    stop_words="english"
)

vectors = cv.fit_transform(df["tags"]).toarray()
vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], shape=(4803, 25690))

In [764]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)
similarity

array([[1.        , 0.02584207, 0.02049288, ..., 0.01937336, 0.        ,
        0.        ],
       [0.02584207, 1.        , 0.01580692, ..., 0.01716176, 0.00929692,
        0.00449997],
       [0.02049288, 0.01580692, 1.        , ..., 0.01183572, 0.        ,
        0.        ],
       ...,
       [0.01937336, 0.01716176, 0.01183572, ..., 1.        , 0.01280444,
        0.03056682],
       [0.        , 0.00929692, 0.        , ..., 0.01280444, 1.        ,
        0.01835428],
       [0.        , 0.00449997, 0.        , ..., 0.03056682, 0.01835428,
        1.        ]], shape=(4803, 4803))

In [765]:

def recommend(movie_name):
    movie_name = movie_name.lower()

    matches = df[df["original_title"] == movie_name]

    if matches.empty:
        return "Movie not found"

    movie_index = matches.index[0]
    distance = similarity[movie_index]

    recommended_movies = sorted(
        list(enumerate(distance)),
        reverse=True,
        key=lambda x: x[1]
    )[1:6]

    return [df.iloc[i[0]]["original_title"] for i in recommended_movies]

In [766]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(3724, np.float64(0.15049847486099155)),
 (369, np.float64(0.1435003093177412)),
 (2403, np.float64(0.14022295043599375)),
 (582, np.float64(0.13959897546236658)),
 (778, np.float64(0.133282239273031))]

In [767]:
recommend("Spectre")

['never say never again',
 'skyfall',
 'quantum of solace',
 'restless',
 'octopussy']

In [768]:
import pickle

In [769]:
with open("similarity.pkl", "wb") as f:
    pickle.dump(similarity, f)